<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.edu.usat.laboratorio.appcomercial">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Tarifas"
            android:exported="false" />
        <activity
            android:name=".AsignarVehiculoConductor"
            android:exported="false" />
        <activity
            android:name=".RegistroVehiculos"
            android:exported="false" />
        <activity
            android:name=".RegistrarConductores"
            android:exported="false" />
        <activity
            android:name=".ReportarEstadoVehiculo"
            android:exported="false" />
        <activity
            android:name=".SolicitudMapaActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarCliente"
            android:exported="false" />
        <activity
            android:name=".MainActivityConductor"
            android:exported="false"
            android:theme="@style/AppThemeCon" />
        <activity
            android:name=".MainActivityOficinista"
            android:exported="false"
            android:theme="@style/AppThemeCon" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/Theme.AppNavigationDrawerActivity.NoActionBar" /> <!-- API KEY para utilizar google maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>